<!DOCTYPE html>
<html>
    <head>
        <title>Estrogen Storage</title>
    
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <div class="upload-box">
            <form method="post" enctype=multipart/form-data>
                <input type="file" name="file" class="file-upload" id="file-button" hidden><br>
                <label for="file-button">Upload File Here</label>

                <input type="submit" value="Upload"  class="submit-button">
            </form>
        </div>
    
        <div class="footer">
            <p>Created by <a href="https://estrogens.rocks">Unix-Witch</a>. Source at <a href="https://github.com/Estrogen-Software-Foundation/EstrogenDrive">Github</a></p><br>
        </div>
    </body>
</html>